html{
	height: 100%;
}

a{
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}

body{
	padding-top: 70px;
	height: 100%;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.alert{
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  color:red;
  background-color:#F8F8F8;
  padding:15px;
  border:1px solid transparent;
  border-radius:4px;
}

.notice{
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  color:green;
  background-color:#F8F8F8;
  padding:15px;
  border:1px solid transparent;
  border-radius:4px;
}

.thumbnail{
  width: 200px;
  height: 200px;
  text-align:center;
  position: relative;
  border-width: 2px;
}

.big-img{
  max-width:100%;
}

.caption{
  position:absolute;
  bottom:0;
}

.image-div{
  padding:0px;
  border: 2px solid #DDDDDD;
}

.image-date{
  font-family:monospace;
  margin-top:8px;
  margin-left:5px;
  font-size:13px;
}

.comment-form-div{
  padding:5px;
  border: 2px solid #DDDDDD;
}

.comment-form-div form{
  margin:0px;
}

.comments-div{
  margin-top : 20px;
  padding:5px;
  border: 2px solid #DDDDDD;
}

.comment-header{
  font-family:monospace;
  font-size:10px;
  margin:0px;
}

.comment-div{
  padding:5px;
  border:1px solid #DDDDDD;
  margin:3px;
  margin-bottom:5px;
}

.comment-content{
  margin:0px;
  margin-top:5px;
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:15px;
}

#preview-img{
  max-width: 100%;
  max-height:200px;
  float:right;
  border: 2px solid #DDDDDD;
}

form {
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.caret{
  display:inline-block;
}

.form-warning{
  color:red;
}

.preview-header{
  margin-left:15px;
}

.modal-preview hr{
  margin-top: 0px;
  margin-bottom: 0px;
}

textarea{
  max-width:100%;
}

.image-show-container{
  margin-top: 22px;
}

.thumbnail i{
  position:absolute;
  bottom:10px;
  left:10px;
}

.link-thumbs-up:link, .link-thumbs-up:visited, .link-thumbs-up:hover, .link-thumbs-up:active{
  color:black;
  text-decoration: none;
}

.link-thumbs-down:link, .link-thumbs-down:visited, .link-thumbs-down:hover, .link-thumbs-down:active{
  color:blue;
  text-decoration: none;
}

.text-thumbs-up{
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  position:absolute;
  bottom:1px;
  right:10px;
  font-weight: bold;
}

label a:link, a:visited, a:hover, a:active{
  color:white;
  text-decoration: none;
}

.show-image-text-like{
  display:inline-block;
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  margin-left:10px;
}

.show-image-thumbs-up{
  margin-left :10px;
}

a.users-link{
  display:inline-block;
  margin-bottom:20px;
  font-size:20px;
}

.users-link:link, .users-link:visited, .users-link:active{
  color:#4582ec;
  text-decoration: none;
}

.users-link:hover{
  color:blue;
  text-decoration: none;
}