html{
	height: 100%;
}

body{
	padding-top: 70px;
	height: 100%;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.alert{
    color:red;
    background-color:#F8F8F8;
    padding:15px;
    border:1px solid transparent;
    border-radius:4px;
}

.notice{
    color:green;
    background-color:#F8F8F8;
    padding:15px;
    border:1px solid transparent;
    border-radius:4px;
}

.thumbnail{
  width: 200px;
  height: 200px;
  text-align:center;
  position: relative;
  border-width: 2px;
}

.thumbnail-img{
  position: absolute;
  max-height:200px;
  max-width: 200px;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}

.big-img{
  max-width:100%;
}

.caption{
  position:absolute;
  bottom:0;
}

a span{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  z-index: 1;
}

.image-div{
  padding:50px;
  border: 2px solid #DDDDDD;
}